<nav class="pa2">
    <h1 class="mv0 f4 fw6">Turbo 8 Todos</h1>
    <p class="measure">This is a demo showcasing the upcoming Turbo 8 with morphing on a simple Rails 7 Hotwire Todo-App.</p>
</nav>

<main class="pa2">
<%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
<%= turbo_stream_from "todos" %>

<div data-turbo-permanent>
<%= form_with model: Todo.new, id: "new_todo_form", class: "flex" do |f| %>
    <%= f.text_field :title, class: "flex pa2 ba br2 br--left b--black dm-b--white-50 glow o-50" %>
    <%= submit_tag "Create Todo", class: "bg-black white link dim br2 br--right ph3 pv2 ba b--black dm-b--white-50 pointer" %>
<% end %>
</div>


<ul class="list pl0 flex flex-column flex-gap-2 mw6">
    <% @todos.each do |todo| %>
        <%= turbo_frame_tag todo do %>
        <li class="flex justify-between items-center hide-child ba dm-b--white-50 pa2 br2" id="<%= dom_id todo %>">
            <div>
                <%= link_to toggle_todo_path(todo), data: {turbo_method: :patch, turbo_frame: "_top"}, class: "link dim pointer pv2 flex-auto" do %>
                    <%= todo.completed ? "✅" : "⬜" %>
                  <%= todo.title %>
                <% end %>
            </div>
            <div>
                <!-- link to rename shall replace the content of -->
                <%= link_to "Rename", edit_todo_path(todo), data: {turbo_method: :get}, class: "child link dim black dm-white" %>
                <%= link_to "Delete", todo, data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete?", turbo_frame: "_top"}, class: "child link dim black dm-white" %>
            </div>
        </li>
        <% end %>
    <% end %>
</ul>

<% if @completed_todo_count > 0 %>
  <%= link_to "Clear Completed Todos (#{@completed_todo_count})", clear_completed_todos_path, data: {turbo_method: :delete}, class: "link dim pv2 ph3 br2 bg-black white" %>
<% end %>

</main>

<script>
  document.addEventListener('turbo:submit-end', event => {
    if (event.target.id === 'new_todo_form') {
      event.target.reset();
    }
  });
</script>
